.mat-mdc-form-field {
  --mdc-shape-small: 8px; /* Rounded corners */
  --mdc-outlined-text-field-container-shape: 8px; /* Rounds black outline */
  --mdc-outlined-text-field-outline-color: #007bff; /* Blue outline */
  --mdc-outlined-text-field-outline-width: 1.5px; /* Outline thickness */
}

.mat-mdc-text-field {
  --mdc-outlined-text-field-input-text-color: #e92828; /* Dark Gray Input Text */
}
